    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
                <h2>Hey folks! It’s happening! We’re getting married! </h2>
                <p> We chose to have our wedding in Austin, Texas because it’s where we met and, for now, it still feels like home.
While living in Beijing, China last year, we would often have daydreams of eating breakfast tacos, basking in the warm sun at Barton Springs, and listening to live music. We loved our time in Austin.
Now, we want to share these distinctive experiences with you on our wedding weekend. </p>
                <br/>
              </div>
        </div>
    </section>
